<!--start Footer Section-->
<div id="footer">
   
  <a style="3d; font-size:12px;color:#666;"href="http://www.lexisnexis.co.uk/terms/ " target="_blank">Terms & Conditions</a>| <a style="3d; font-size:12px;color:#666;" href="http://www.lexisnexis.co.uk/privacy/" target="_blank"> Privacy Policy</a>| <a style="3d; font-size:12px;color:#666;" href="http://www.lexisnexis.co.uk/license-agreement.aspx" target="_blank"> License Agreement</a><br/>
	Copyright &copy; 2010 LexisNexis, a division of Reed Elsevier Inc. All rights reserved.<br />
Reed Elsevier (UK) Ltd - Registered in England - Number 2746621 - Registered Office 1 - 3 Strand, London WC2N 5JR

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-3866800-31']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
  </script>	

</div>
<!--end Footer Section-->
</center>
</body>
</html>
