<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><?php  echo WEBSITE_TITLE;?> <?php echo $sub_title; ?></title>
	<?php echo $html->css('style')?>
	<?php echo $javascript->link('jquery')?>
	<?php echo $javascript->link('front')?>
	<?php echo $javascript->link('validator')?>
	
</head>
<body>
	<center>
	<!--Start Header Section-->
	<div id="header">
	<h1>BEUG Webcast 
	<!--End Header Section-->

