body{margin:0px auto; padding:0px; text-align:center; background:#999; color:#333}
#header{width:1000px; height:117px; display:block; background:#ffffff url(../images/bg-header.jpg) repeat-x top; margin-top:15px}
#header h1{font-size:26.0pt;font-family:Calibri, arial;color:#fff; line-height:117px; text-align:center}
#content{width:956px; border:2px solid #dedede; border-top:none; text-align:center; padding:20px; background:#FFF}
#content h1{text-align:center; font-family:Calibri, arial; color:#333; font-size:22px; margin-top:20px; font-weight:normal;}
#content h1 strong{text-align:center; font-family:Calibri, arial; color:#ed1c24; font-size:30px; font-weight:bold}
#content h2{text-align:center; font-family:Calibri, arial; color:#ed1c24; font-size:22px; margin-top:20px; font-weight:normal}
#content h2 sup{font-size:16px}
.btn{padding:2px 5px; font-family:Calibri, arial; font-size:14px; color:#ffffff; background:#ed1c24; border:none; cursor:pointer}
.btn1{padding:2px 5px; font-family:Calibri, arial; font-size:14px; color:#ffffff; background:#ed1c24; border:none; cursor:pointer; width:112px; vertical-align:middle;}
.btn_clickhere{padding:2px 5px; font-family:Calibri, arialh; font-size:14px; color:#ffffff; background:#ed1c24; border:none; cursor:pointer; width:68px; vertical-align:middle;}
#content p{text-align:center; padding:15px; font-family:Calibri, arial; font-size:14px; line-height:18px; color:#333333;}
#content li a, #content p a{font-family:Calibri, arial; font-size:14px; line-height:18px; color:#009DDB; text-decoration:underline; }
#content li a:hover, #content p a:hover{font-family:Calibri, arial; font-size:14px; line-height:18px; color:#009DDB; text-decoration:none; }

.form{margin-top:25px;}
.form ul{margin:0px; padding:0px; list-style:none;}
.form ul li{display:block; padding-top:7px; text-align:left;}
.form ul li label{ float:left; width:335px; text-align:right; padding-right:10px; font-family:Calibri, arial; font-size:14px; line-height:25px;  color:#333; padding-top:4px;}
.form ul li .textbox{width:241px; height:25px; background:url(../images/bg-text.jpg) no-repeat right; border:none; padding:3px 10px; font-family:arial; font-size:13px; line-height:25px; color:#333;}
.form ul li .password{font-family:arial;}
.form ul li span{padding-left:5px; font-family:Calibri, arial; font-size:12px; color:#e40100;}
.form ul li div.icon{float:left; width:335px; text-align:right; padding-right:10px; color:#333; padding-top:4px; display:block; height:55px;}




#footer{padding:10px 10px; width:980px; background: #eaeaea url(../images/logo-lexisnexis.jpg) no-repeat 815px 5px ;
 text-align:left; font-family:Calibri, arial; font-size:11px; line-height:16px; color:#666; vertical-align:top; display:block; }
.show{display:block;}

#register {display:none}
.error {display:none}
.registration_error{
        font-family: Calibri,arial;
        *font-family: arial;
        font-size:12px;
        color:#e40100;
        }
ul.login_ul_main {margin-top:-10px;}
li.li_login .login_div{width:602px; text-align:right;}
li.li_register .register_div{ width:602px; text-align:right;}